<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- INCLURE LE MODÈLE REALESENSE -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d415.urdf.xacro" />

  <!-- SUPPORT ENTRE CHASSIS ET CAMÉRA -->
  <joint name="camera_support_joint" type="fixed">
    <parent link="chassis"/>
    <child link="camera_support"/>
    <origin xyz="0.276 0 0.15" rpy="0 0.0 0"/> <!-- -->
  </joint>

  <link name="camera_support">
    <visual>
      <geometry>
        <cylinder radius="0.005" length="0.1"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.005" length="0.08"/>
      </geometry>
    </collision>
  </link>
  <gazebo reference="camera_support">
        <material>Gazebo/Black</material>
    </gazebo>

  <!-- CAMÉRA REALESENSE SUR LE SUPPORT -->
  <xacro:sensor_d415 parent="camera_support" use_nominal_extrinsics="true" use_mesh="true">
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
  </xacro:sensor_d415>

  <!-- VOTRE CONFIGURATION GAZEBO SUR LE LIEN CAMÉRA -->
  <gazebo reference="camera_link">
    <material>Gazebo/Black</material>
    <sensor name="camera" type="camera">
      <pose>0 0 0 0 0 0</pose>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <camera>
        <horizontal_fov>1.089</horizontal_fov>
        <image>
          <format>R8G8B8</format>
          <width>640</width>
          <height>480</height>
        </image>
        <clip>
          <near>0.05</near>
          <far>8.0</far>
        </clip>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <ros>
          <argument>~/out:=camera/image_raw</argument>
        </ros>
        <frame_name>camera_link_optical</frame_name>
      </plugin>
    </sensor>
  </gazebo>

</robot>